# Sangam CRM
SANGAM_API_URL=https://care.sangamcrm.com/api/v1
SANGAM_API_KEY=KiEHQoNlyn3wS5FnvoFhK3YOKfeqCLuQ

# Adobe Sign (optional)
ADOBE_SIGN_KEY=
ADOBE_SIGN_BASE_URL=https://api.eu1.adobesign.com/api/rest/v6

# App
PORT=3000
NODE_ENV=production
APP_SECRET=change-this-to-a-random-string
DATA_DIR=./data

# Railway will set PORT automatically
